version: '3.0'

services:
  dzhura:
    image: node:lts-alpine@sha256:28bed508446db2ee028d08e76fb47b935defa26a84986ca050d2596ea67fd506
    read_only: true
    volumes:
      - ".:/usr/src/service"
    working_dir: /usr/src/service
    entrypoint: npm run scan
    environment:
      NODE_ENV: test
      SEED_TABLES: "yes"
      SKIP_REQUEST_LOGGING: "1"
      NO_UPDATE_NOTIFIER: "true"
      MYSQL_DATABASE: test
      MYSQL_HOST: mysql
      MYSQL_USER: test
      MYSQL_PASSWORD: test
      NPM_CONFIG_LOGLEVEL: silent
      NPM_CONFIG_LOGS_MAX: "0"
    user: node:node
    depends_on:
      - mysql

  mysql:
    image: mariadb:latest@sha256:9d2cde0e154989d499114bf468fab23497120cf889fb6965050c0f8fcf69d037
    environment:
      MYSQL_RANDOM_ROOT_PASSWORD: "yes"
      MYSQL_DATABASE: test
      MYSQL_USER: test
      MYSQL_PASSWORD: test
      MYSQL_INITDB_SKIP_TZINFO: "1"

  gauntlt:
    image: gauntlt/gauntlt@sha256:bd70c0015b6c9d0d7ea3fa00a71864f6c344365fff13110b96e6dc93fb01bbdc
    volumes:
      - .:/working
    working_dir: /working
    entrypoint: /working/.docker/gauntlt.sh
    depends_on:
      - dzhura
