services:
  dzhura:
    image: node:lts-alpine@sha256:7e0bd0460b26eb3854ea5b99b887a6a14d665d14cae694b78ae2936d14b2befb
    read_only: true
    volumes:
      - ".:/usr/src/service"
    working_dir: /usr/src/service
    entrypoint: npm run scan
    environment:
      NODE_ENV: test
      SEED_TABLES: "yes"
      SKIP_REQUEST_LOGGING: "1"
      NO_UPDATE_NOTIFIER: "true"
      KNEX_DATABASE: test
      KNEX_HOST: mysql
      KNEX_USER: test
      KNEX_PASSWORD: test
      HOME: /tmp
    user: node:node
    tmpfs:
      - /tmp
      - /usr/src/service/dist
    depends_on:
      - mysql

  mysql:
    image: mariadb:latest@sha256:e1bcd6f85781f4a875abefb11c4166c1d79e4237c23de597bf0df81fec225b40
    environment:
      MYSQL_RANDOM_ROOT_PASSWORD: "yes"
      MYSQL_DATABASE: test
      MYSQL_USER: test
      MYSQL_PASSWORD: test
      MYSQL_INITDB_SKIP_TZINFO: "1"

  gauntlt:
    image: gauntlt/gauntlt@sha256:bd70c0015b6c9d0d7ea3fa00a71864f6c344365fff13110b96e6dc93fb01bbdc
    volumes:
      - .:/working
    working_dir: /working
    entrypoint: /working/.docker/gauntlt.sh
    depends_on:
      - dzhura
