name: Security Scan / Gauntlt

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
  workflow_dispatch:

jobs:
  build-and-test:
    if: "!contains(github.event.head_commit.message, '[ci skip]')"
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2.4.0
        with:
          submodules: true

      - name: Setup Node.js environment
        uses: actions/setup-node@v2.5.0
        with:
          node-version: lts/*
          registry-url: https://npm.pkg.github.com
          cache: npm

      - name: Install dependencies
        run: npm ci --ignore-scripts
        env:
          NODE_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Run postinstall scripts
        run: npm rebuild && npm run prepare --if-present

      - name: Run gauntlt scan
        run: docker-compose -f docker-compose-ci.yml up --build --abort-on-container-exit --renew-anon-volumes
        env:
          GPR_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
