name: SonarCloud Analysis

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
  workflow_dispatch:

env:
  SONARSCANNER: "true"

permissions:
  contents: read

jobs:
  build:
    name: SonarCloud Scan
    runs-on: ubuntu-latest
    if: |
      github.event_name != 'pull_request' ||
      github.event.pull_request.head.repo.full_name == github.event.pull_request.base.repo.full_name
    permissions:
      contents: read
      packages: read
      security-events: write
      pull-requests: write
    steps:
      - name: Check out the source code
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
        with:
          fetch-depth: 0
          submodules: true

      - name: Run SonarCloud analysis
        uses: myrotvorets/composite-actions/node-sonarscan@master
        with:
          sonar-token: ${{ secrets.SONAR_TOKEN }}
          registry-url: https://npm.pkg.github.com
          test-script: 'test:coverage'

      - name: Rebuild the project with sourcemaps
        run: npm run build -- --sourcemap

      - name: Upload coverage report to Codecov
        uses: codecov/codecov-action@671740ac38dd9b0130fbe1cec585b89eea48d3de # v5.5.2
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          files: ./coverage/lcov.info
